<hr/>
<h1 style="font-family: HeinrichScript; text-align: center; margin-right: 20% ">Приветствую тебя, мой юный запиливатель!</h1>
<div id="menu" style="height: 100%">
  <div class="left_col_method">
    <div class="text_form">
      <div class="method_text">
        <%= link_to('Метод Нелдера — Мида', '/nelder_mead_method') %>
        , также известный как метод деформируемого многогранника и симплекс-метод, — метод безусловной оптимизации
        функции от нескольких переменных, не использующий производной (точнее — градиентов) функции, а поэтому легко
        применим к негладким и/или зашумлённым функциям.
        Суть метода заключается в последовательном перемещении и деформировании симплекса вокруг точки экстремума.
      </div>

    </div>
  </div>

  <div class="right_col_method">
    <div class="text_form">
      <div class="method_text">
        Метод сопряженных градиентов (<%= link_to('Метод Пауэлла', '/powell_method') %>) — метод нахождения локального
        минимума функции на
        основе информации о её значениях и её градиенте. В случае квадратичной функции в
        минимум находится за n шагов.
      </div>
    </div>
  </div>

  <br/>

  <div class="left_col_method">
    <div class="text_form">
      <div class="method_text">
        <%= link_to('Метод Хука — Дживса', '/hook_method') %>
        (англ. Hooke — Jeeves), также как и алгоритм Нелдера-Мида,
        служит для поиска безусловного локального экстремума функции и относится к прямым методам,
        то есть опирается непосредственно на значения функции. Алгоритм делится на две фазы:
        исследующий поиск и поиск по образцу.
      </div>
    </div>
  </div>

  <div class="right_col_method">
    <div class="text_form">
      <div class="method_text">
        При решении задачи <%= link_to('методом Розенброка', '/rozenbrok_method') %> (методом вращающихся координат)
        используется преобразование на каждой итерации системы координат таким образом, чтобы в
        новой системе координат одна из осей совпадала с направлением предыдущего шага. Остальные
        оси новой системы координат обычно находят с помощью процедуры ортогонализации Грамма-Шмидта.
      </div>
    </div>
  </div>
</div>