<div id="menu">
  <hr />



  <div id="form">
      <h1>Приветствую тебя, мой юный запиливатель!</h1>
        <%= link_to('Hook', '/hook_method') %> <br />
        <%= link_to('Powell', '/powell_method') %> <br />
        <%= link_to('NelderMead', '/nelder_mead_method') %> <br />
        <%= link_to('Rozenbrok', '/rozenbrok_method') %> <br />
  </div>
</div>