<form action="/hook_method" method="post">
	<table>

		<hr>
		<h4> Hook Djeeves </h4>
		<tr>
			<!--<td><label for="function">Уравнение:</label></td>-->
            <td>Уравнение: </td>
			<td><input id="function" name="function" type="text" size="20" value="a**2 + b**2"/></td>
		</tr>
	</table>
	<table>
		<tr>
			<td>Начальная точка: </td>
			<td><input id="x1" name="x1" type="text" size="3" value="8.0"/></td>
			<td><input id="x2" name="x2" type="text" size="3" value="9.0"/></td>
		</tr>

        <tr>
			<td>Alpha: </td>
			<td><input id="alpha" name="alpha" type="text" size="3" value="2.0"/></td>
		</tr>

        <tr>
			<td>Epsilon: </td>
			<td><input id="eps" name="eps" type="text" size="3" value="0.3"/></td>
		</tr>

        <tr>
			<td>Lambda: </td>
			<td><input id="lambda" name="lambda" type="text" size="3" value="1.0"/></td>
		</tr>

        <tr>
			<td>Steps: </td>
			<td><input id="step1" name="step1" type="text" size="3" value="1.0"/></td>
            <td><input id="step2" name="step2" type="text" size="3" value="2.0"/></td>
		</tr>

	</table>
	<br />
	<input type="submit" value="Паехале!" />
</form>
