<form action="/powell_method" method="post">

  <div id="form" style="height: 89%">
	<table >
		<hr>
		<h4> Powell </h4>
		<tr>
			<td><label for="function">Уравнение:</label></td>
			<td><input id="function" name="function" type="text" size="20" value="x**2 + y**2 - 2 * x * sin(y) - 3 * sin(x) * y"/></td>
		</tr>
        <tr>
            <td>
                <input name="opt_type" value="-1" type="radio" > Max <br/>
                <input name="opt_type" value="+1" type="radio" checked> Min
            </td>
        </tr>

	</table>

      <table>
		<tr>
			<td>Начальная точка: </td>
         </tr>
       </table>
      <table>
         <tr>
            <td><label for="x1">x1: </label></td>
			<td><input id="x1" name="x1" type="text" size="3" value="5.0"/></td>
           <td><label for="x2">x2: </label></td>
			<td><input id="x2" name="x2" type="text" size="3" value="1.0"/></td>
		</tr>
		        <tr>
			<td><label for="eps">Epsilon: </label></td>
			<td><input id="eps" name="eps" type="text" size="3" value="0.001"/></td>
		</tr>

	</table>
	<br />
	<input type="submit" value="Паехале!" />

  </div>
</form>